/* App.css */
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

h1 {
	text-align: center;
	font-size: 36px;
	color: #333;
	margin-bottom: 10px;
	font-family: 'Pacifico', cursive;
}

.winner-message {
	font-size: 24px;
	color: #db6d14;
	font-family: 'Pacifico', cursive;
}

.current-player {
	font-size: 24px;
	color: #f39821;
	font-family: 'Pacifico', cursive;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	gap: 0.5rem;
	margin: 20px;
	background-color: #000000;
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 5rem;
	font-size: 36px;
	background-color: #fff;
	cursor: pointer;
}

.cell.X {
	color: #f44336;
	font-family: 'Raleway', sans-serif;
}

.cell.O {
	color: #2196f3;
	font-family: 'Raleway', sans-serif;
}

.reset-button {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #f09b3b; /* Green color for the reset button */
	color: #fff;
	font-size: 1.6rem;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	font-family: 'Pacifico', cursive;
}

.reset-button:hover {
	background-color: #e08610; /* Slightly darker green on hover */
}
